﻿
/* styles */

td.details-control {
    background: url('/Images/Full-Screen-Expand.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/Images/Full-Screen-Collapse.png') no-repeat center center;
}



/* EOF */
