﻿

<!-- mark up html -->

<div>
    <form class="form-horizontal">


        <!-- Address Number -->
        <div class="form-group" id="formGroupAddressNumber">
            <label for="inputAddressNumber" class="col-sm-3 control-label">Address</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" id="inputAddressNumber" placeholder="Number" required aria-describedby="helpBlockAddressNumber" name="AddressNumber">
                <span id="helpBlockAddressNumber" class="help-block hidden">Address Name or Number Required.</span>
            </div>
        </div>

        <!-- Address Name -->
        <div class="form-group" id="formGroupAddressName">
            <label for="inputAddressNumber" class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" id="inputAddressName" placeholder="Name" required aria-describedby="helpBlockAddressName" name="AddressName">
                <span id="helpBlockAddressName" class="help-block hidden">Address Name or Number Required.</span>
            </div>
        </div>

        <!-- Address Line1 -->
        <div class="form-group" id="formGroupAddressLine1">
            <label for="inputAddressNumber" class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" id="inputAddressLine1" placeholder="" required aria-describedby="helpBlockAddressLine1" name="AddressLine1">
                <span id="helpBlockAddressLine1" class="help-block hidden">Address Name or Number Required.</span>
            </div>
        </div>

        <!-- Address Line2 -->
        <div class="form-group" id="formGroupAddressLine2">
            <label for="inputAddressNumber" class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" id="inputAddressLine2" placeholder="" required aria-describedby="helpBlockAddressLine2" name="AddressLine2">
                <span id="helpBlockAddressLine2" class="help-block hidden">Address Name or Number Required.</span>
            </div>
        </div>

        <!-- Address Line3 -->
        <div class="form-group" id="formGroupAddressLine3">
            <label for="inputAddressNumber" class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" id="inputAddressLine3" placeholder="" required aria-describedby="helpBlockAddressLine3" name="AddressLine3">
                <span id="helpBlockAddressLine3" class="help-block hidden">Address Name or Number Required.</span>
            </div>
        </div>

        <!-- Address Line4 -->
        <div class="form-group" id="formGroupAddressLine4">
            <label for="inputAddressNumber" class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" id="inputAddressLine4" placeholder="" required aria-describedby="helpBlockAddressLine4" name="AddressLine4">
                <span id="helpBlockAddressLine4" class="help-block hidden">Address Name or Number Required.</span>
            </div>
        </div>

        <!-- Address Line5 -->
        <div class="form-group" id="formGroupAddressLine5">
            <label for="inputAddressNumber" class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" id="inputAddressLine5" placeholder="" required aria-describedby="helpBlockAddressLine5" name="AddressLine5">
                <span id="helpBlockAddressLine5" class="help-block hidden">Address Name or Number Required.</span>
            </div>
        </div>

        <!-- Address Postcode -->
        <div class="form-group" id="formGroupAddressPostCode">
            <label for="inputAddressPostCode" class="col-sm-3 control-label">Postcode</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm" id="inputAddressPostCode" placeholder="" required aria-describedby="helpBlockAddressPostCode" name="AddressPostCode">
                <span id="helpBlockAddressPostCode" class="help-block hidden">Post is Required.</span>
            </div>
        </div>

    </form>
</div>
